<!doctype HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Home Automaton</title>
	<meta name="viewport" content="width=device-width, initial-scale={% if scale is defined %}{{ scale }}{% else %}1.0{% endif %}"> <!-- 0.8 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="apple-touch-icon" href="http://global.mt.lldns.net/llnw/staff/wylie/zwave/apple-touch-icon-precomposed.png" />
	<link rel="stylesheet" href="/static/css/jquery.mobile-1.2.0.min.css" />
	<link rel="stylesheet" href="/static/css/automaton.css" />
	<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
	<meta http-equiv="EXPIRES" content="Mon, 01 Jan 2000 00:00:01 GMT" />
	<script src="/static/js/jquery-1.8.2.min.js"></script>
	<script src="/static/js/jquery.mobile-1.2.0.min.js"></script>
	<script src="/static/js/automaton.js"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
