{% extends "layout.html" %}

{% block pageid -%}{{ super() }}-main{% endblock pageid %}
{% block header %}
   <div data-role="header" data-position="fixed">
		<a href="#main" data-rel="back" data-icon="back" data-iconpos="notext">Back</a>
      <h1>Automaton</h1>
		<a href="/" data-rel="home" data-icon="home" data-iconpos="notext">Home</a>
   </div>
{% endblock header %}

{% block content %}
		<ul data-role="listview">
			<li><a href="/zwave">Lights & Scenes</a></li>
			<li><a href="/cameras">Cameras</a></li> 
			<li><a href="/tv">TV</a></li>
	      {% if iOS is defined %}
				<li><a href="remote://">iOS Remote.app</a></li>
	      {% endif %}
		</ul>
{% endblock content %}

{% block footer %}
   <div data-role="footer" data-position="fixed" class="ui-bar">
		<a href="{{ url_for('logout') }}" data-role="button" data-icon="minus" data-iconpos="right">{{ current_user.name }}</a>
   </div>
{% endblock footer %}
