{% extends "layout.html" %}

{% block pageid -%}{{ super() }}-login{% endblock pageid %}
{% block header %}
   <div data-role="header" data-position="fixed">
      <h1>Automaton</h1>
   </div>
{% endblock %}

{% block content %}
		<form action="{{ action }}" method="post" class="ui-body ui-body-a ui-corner-all">
				<div data-role="fieldcontain">
					<label for="basic">Username:</label>
					<input type="text" name="username" id="basic" value=""  />
				</div>
				<div data-role="fieldcontain">
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" value="" />
				</div>
				<input type="hidden" name=remember value=yes>
				<button type="submit" value="Login">Login</button>
		</form>
{% endblock content %}
 
{% block footer %}
{% endblock %}
