{% extends "layout.html" %}

{% block pageid -%}{{ super() }}-secret{% endblock pageid %}
{% block header %}
   <div data-role="header" data-position="fixed">
      <a href="#main" data-rel="back" data-icon="back" data-iconpos="notext">Back</a>
      <h1>Automaton</h1>
      <a href="/" data-rel="home" data-icon="home" data-iconpos="notext">Home</a>
   </div>
{% endblock header %}

{% block content %}
<h2>Secret Information</h2>

<p>Herobrine isn't real.
{% endblock content %}

{% block footer %}
   <div data-role="footer" data-position="fixed" class="ui-bar">
      <a href="{{ url_for('logout') }}" data-role="button" data-icon="minus" data-iconpos="right">{{ current_user.name }}</a>
   </div>
{% endblock footer %}
