{% extends "base.html" %}
{% block content %}
<div data-role="page" id="_switch" data-theme='a' data-dom-cache="false">
	<div data-role="header" data-position="fixed">
		<a href="/" data-icon="home" data-iconpos="notext">Home</a>
		<h1>{{ device.location }}</h1>
		<a href="#main" data-rel="back" data-icon="back" data-iconpos="notext">Back</a>
	</div>
	<div data-role="content">
		<label for="_switch_{{ device.node }}">{{ device.name }}</label>
		<select name="_switch_{{ device.node }}" id="_switch_{{ device.node }}" data-role="slider">
			<option value="off" {% if not device.on %}selected{% endif %}>Off</option>
			<option value="on" {% if device.on %}selected{% endif %}>On</option>
		</select> 
	</div>
   <div data-role="footer" data-position="fixed">
      <h1>Fixed Footer!</h1>
   </div>
</div>
{% endblock %} 
