{% extends "base.html" %}
{% block content %}
<div data-role="page" id="tv" data-theme="a" data-dom-cache="false">
    <div data-role="header">
        <a href="/" data-rel="home" data-icon="home" data-iconpos="notext">Home</a>
        <h1>{{ page_title }}</h1>
        <a href="#main" data-rel="back" data-icon="back" data-iconpos="notext">Back</a>
    </div>
	<div data-role="content" >
		<ul data-role="listview">
			<li><a href="/TV/Remote">Remote Control</a></li>
		</ul>
	</div><!-- /content -->
</div><!-- /page toplevel -->
{% endblock %}
